<form [formGroup]="formulario" id="ex-form" (ngSubmit)="onSubmit()">
    
    <h2>Crear Nota!</h2>
    
    <mat-form-field appearance="fill">
        <mat-label>Titulo</mat-label>
        <input type="text" matInput formControlName="inputTitulo">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select disableRipple formControlName="inputEstado">
            <mat-option value="1">Iniciado</mat-option>
            <mat-option value="2">En proceso</mat-option>
            <mat-option value="3">Terminado</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Descripición</mat-label>
        <textarea matInput maxlength="150" formControlName="inputDescripcion"></textarea>
    </mat-form-field>
    <br>
    
    <!-- <button mat-flat-button color="accent" type="submit" (click)="onSubmit()">Actualizar</button> -->
    <button mat-flat-button color="accent" type="submit">Actualizar</button>
    
</form>