<h2>Lista de Notas</h2>

<div class="cajas" >

    
    <div class="cajas_fin">
        <h3>Cerrado</h3>
        <div class="tarjeta" *ngFor="let item of listaNotas">

            <mat-card *ngIf="item.estado == 3">
                <mat-card-title>{{ item.titulo }}</mat-card-title>
                <mat-card-subtitle>{{ item.descripcion }}</mat-card-subtitle>

                <mat-card-actions>
                    <button style="float:right;" mat-mini-fab color="link" (click)="eliminarNota()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>

    <div class="cajas_proc">
        <h3>En Proceso</h3>

        <div class="tarjeta" *ngFor="let item of listaNotas">

            <mat-card *ngIf="item.estado == 2">
                <mat-card-title>{{ item.titulo }}</mat-card-title>
                <mat-card-subtitle>{{ item.descripcion }}</mat-card-subtitle>

                <mat-card-actions>
                    <button style="float:right;" mat-mini-fab color="link" routerLink="../editar-nota" (click)="editarNota(item.titulo, item.estado, item.descripcion)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button style="float:right;" mat-mini-fab color="link" (click)="eliminarNota()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
                
            </mat-card>
            <br>
        </div>
    </div>

    <div class="cajas_init">
        <h3>Abierto</h3>

        <div class="tarjeta" *ngFor="let item of listaNotas">

            <mat-card *ngIf="item.estado == 1">
                <mat-card-title>{{ item.titulo }}</mat-card-title>
                <mat-card-subtitle>{{ item.descripcion }}</mat-card-subtitle>
                
                <mat-card-actions>
                    <button style="float:right;" mat-mini-fab color="link" routerLink="../editar-nota" (click)="editarNota(item.titulo, item.estado, item.descripcion)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button style="float:right;" mat-mini-fab color="link" (click)="eliminarNota()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>  
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>