<h2>Lista de Notas</h2>

<div class="cajas" >
    <div class="cajas_fin">
        <div *ngFor="let item of notasService.notas">
            <mat-card *ngIf="item.estado == 3">{{ item.titulo }}</mat-card>
        </div>
    </div>

    <div class="cajas_proc">
        <div *ngFor="let item of notasService.notas">
            <mat-card *ngIf="item.estado == 2">{{ item.titulo }}</mat-card>
        </div>
    </div>

    <div class="cajas_init">
        <div *ngFor="let item of notasService.notas">
            <mat-card *ngIf="item.estado == 1">
                {{ item.titulo }}
                <button style="float:right;" mat-mini-fab color="link" routerLink="../editar-nota" (click)="editarNota(item.titulo, item.estado)">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card>
        </div>
    </div>

    <br>
    <div class="agregarNota">
        <button mat-raised-button color="accent" routerLink="">Agregar Nota</button>
    </div>
    
</div>
