h2{
    text-align: center;
    padding-top: 20px;
}

.cajas {
    margin: 40px auto;
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cajas_init {
    grid-column-start: 1 / 2;

    .mat-card{
        margin: 10px auto 10px;
        background-color: rgb(219, 80, 80);
        width: 90%;
        height: 50px;
    }
}

.cajas_proc {
    grid-column-start: 2 / 3;

    .mat-card{
        margin: 10px auto 10px;
        background-color: rgb(223, 220, 63);
        width: 90%;
        height: 50px;
    }
}

.cajas_fin {
    grid-column-start: 3 / 4;

    .mat-card{
        margin: 10px auto 10px;
        background-color: rgb(119, 180, 39);
        width: 90%;
        height: 50px;
    }
}

.agregarNota {
    font-size: 30px;
    margin: 3rem 10rem 3rem;
    text-align: left;
    margin-top: 40px;
}

.button {
    font-size: 30px;
    height: 100px; 
    width: 100px;
    border-radius: 50px;
    border: solid 1px black;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}